.logo {
  font-size: 70px;
  color: $color-primary;
  width: 110px;
  height: 110px;
  border: 3px solid $color-primary;
  border-radius: 50%;
  @include flexLayout;
  text-decoration: none;
  margin-right: 20px;
  @media (max-width: 1000px) {
    font-size: 50px;
    width: 90px;
    height: 90px;
  }
  @media (max-width: 500px) {
    height: 50px;
    width:50px;
    font-size: 30px;
    border-width: 2px;
  }
}
.main-name {
  font-size: 15px;
  color: $color-secondary;
  @include textStyles;
  @media (max-width: 1000px) {
    font-size: 40px;
  }
  @media (max-width: 500px) {
    font-size: 20px;
    text-align: center;
  }
}
.sub-name {
  font-size: 18px;
  color: $color-secondary;
  text-align: center;
  @include textStyles;
  @media (max-width: 500px) {
    font-size: 12px;
  }
}
.main-heading {
  font-size: 100px;
  font-weight: 300;
  color: $color-primary;
  margin-bottom: 40px;
  @media (max-width: 1600px) {
    font-size: 80px;
  }
  @media (max-width: 1000px) {
    font-size: 60px;
  }
  @media (max-width: 500px) {
    font-size: 40px;
    margin-bottom: 20px;
  }
}
.sub-heading {
  font-size: 60px;
  font-weight: 300;
  color: $color-secondary;
  margin-bottom: 80px;
  text-align: center;
  @media (max-width: 1600px) {
    font-size: 50px;
    margin-bottom: 50px;
  }
  @media (max-width: 1300px) {
    font-size: 40px;
    margin-bottom: 30px;
  }
  @media (max-width: 1000px) {
    font-size: 30px;
  }
  @media (max-width: 500px) {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.main-btn {
  width: 170px;
  height: 45px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: $color-primary;
  background-color: transparent;
  border: 1px solid $color-primary;
  outline: none;
  cursor: pointer;
  &:hover {
    background-color: $color-primary;
    color: $color-dark;
  }
  @media (max-width: 800px) {
    width:150px;
    height: 35px;
    font-size: 12px;
  }
  @media (max-width: 500px) {
    width:130px;
    height: 30px;
    font-size: 10px;
  }
}
.card {
  width: 33.3333%;
  height: 30vh;
  position: relative;
  overflow: hidden;
  &:hover .card-overlay {
    left: 0;
  }
  &-overlay {
    position: absolute;
    transition: left 0.7s;
    top: 0;
    left: -100%;
    @extend %fullSpace;
    background-color: rgba($color-primary, 0.6);
    color: white;
    z-index: 10;
    @include flexLayout;
    flex-direction: column;

    &-heading {
      font-size: 20px;
      @include textStyles(capitalize);
      @media (max-width: 900px) {
        font-size: 35px;
      }
      @media (max-width: 650px) {
        font-size: 25px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
    &-paragraph {
      font-size: 30px;
      margin-bottom: 20px;
      @include textStyles(capitalize);
      @media (max-width: 900px) {
        font-size: 20px;
      }
      @media (max-width: 650px) {
        font-size: 15px;
      }
      @media (max-width: 500px) {
        display: none;
      }
    }
    &-btn {
      width: 150px;
      height: 40px;
      color: $color-primary;
      background-color: white;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      text-transform: uppercase;
      border: 1px solid $color-primary;
      border-radius: 30px;
      outline: none;
      cursor: pointer;
      @media (max-width: 900px) {
        font-size: 12px;
        width: 130px;
        height: 30px;
      }
      @media (max-width: 650px) {
        font-size: 10px;
        width:100px;
        height:100px;
      }
    }
  }
  &-img {
    @extend %fullSpace;
    object-fit: cover;
    opacity: 0.5;
  }
}
